---
import Layout from '../layouts/Layout.astro';
import LoginButton from '../components/LoginButton.astro'
---

<Layout title="Login">
	
	<section class="flex flex-col items-center px-4 mx-auto max-w-xl lg:py-16 lg:px-6 container">
		<form id="loginForm" action="/" method="POST">
		  <div class="form-group">
			<label for="username">Usuario</label>
			<input type="text" id="username" name="username" placeholder="santi@gmail.com" required>
		  </div>
		  <div class="form-group">
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" placeholder="*******" required>
		  </div>
		</form>
		<div class="p-7">
			<LoginButton>Login</LoginButton>
			<LoginButton>Register</LoginButton>
		</div>
		
	</section>
	  
</Layout>
