---
import Layout from '../layouts/Layout.astro';
import LoginButton from '../components/LoginButton.astro'
---

<Layout title="Login">
	
	<section class="container">
		<h2>Login</h2>
		<form id="loginForm" action="/" method="POST">
		  <div class="form-group">
			<label for="username">Usuario</label>
			<input type="text" id="username" name="username" placeholder="santi@gmail.com" required>
		  </div>
		  <div class="form-group">
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" placeholder="*******" required>
		  </div>
		</form>
		<LoginButton>Login</LoginButton>
				
	</section>
	  
</Layout>
