---
import Layout from "../layouts/Layout.astro"
import LoginButton from "../components/LoginButton.astro";
import Card from "../components/CardUser.astro"
import CardUser from "../components/CardUser.astro";

const res = await fetch('http://localhost:4000/user')
  .then(response => {
    if (!response.ok) {
      throw new Error('Error al obtener la lista de usuarios');
    }
    return response.json();
  })

  .catch(error => {
    console.error('Error:', error);
  });

---
<Layout title="Users List">
    <h1 class="text-3xl mb-7 text-center">Users list Mongo Atlas DB</h1>
    
    <a class="flex flex-col items-center mb-4" href="/">
        <LoginButton>Home</LoginButton>
    </a>
    <div class="flex flex-col content-center text-center"  id="usuarios">
        {res.map( users=>(
            <CardUser nombre={users.nombre} email={users.email}/>
        )
        )}
    </div>
</Layout>