
<button type="submit" class="group border rounded-2xl border-white/30 relative cursor-pointer overflow-hidden whitespace-nowrap px-5 py-3  transition-all duration-300 hover:scale-105 hover:shadow-[0_0_40px_8px_rgba(62,61,117,0.7)]">
    <slot/>
</button>